// Variable overrides first
$primary: #883788;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


body {
    font-family: "Nunito", sans-serif;
    background-color: #d5e8ef;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.bold {
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
}

li pre, p pre {
    display: inline;
}

// Blog Articles
.blog-article-container {
    @extend .row, .justify-content-lg-center;
}
.blog-article {
    @extend .col, .col-lg-8;
}
.blog-article figure img {
    width: 100%;
}
.blog-article figure blockquote {
    @extend .blockquote;
    font-size: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 2px solid #883788;
}
.blog-article figure figcaption {
    @extend .blockquote-footer;
    margin-left: 1rem;
}

h1 {
    @extend .py-1, .mb-3;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 2.5rem;
    border-bottom: 2px solid #883788;
    color: #883788;
}

h2 {
    @extend .py-1, .my-3;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 2rem;
    border-bottom: 1px solid #883788;
    color: #883788;
}

h3 {
    @extend .py-1, .my-2;
    font-variant: small-caps;
    font-size: 1.7rem;
    color: #883788;
}

// Home Card
.home-container {
    @extend .row, .justify-content-lg-center, .px-2;
}
.home {
    @extend .col, .col-lg-8;
}

.vcoeur-card-title-container {
    @extend .row, .my-3;
}
.vcoeur-card-title {
    font-variant: small-caps;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    background-color: #883788;
    color: #ffffff;
}

.vcoeur-card-left-container {
    @extend .row, .my-3, .justify-content-start;
}
.vcoeur-card-left {
    @extend .col-9, .text-end;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #d6b8dc;
    color: #000000;
}

.vcoeur-card-right-container {
    @extend .row, .my-3, .justify-content-end;
}
.vcoeur-card-right {
    @extend .col-9;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #d6b8dc;
    color: #000000;
}

.vcoeur-card-footer-container {
    @extend .row, .my-3;
}
.vcoeur-card-footer {
    @extend .text-center;
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #883788;
    color: #ffffff;
}
