<!DOCTYPE html>
<html lang="en">

<head>

    <!--  <link rel="shortcut icon" type="image/png" href="{{ static('favicon-dark.png') }}" />-->
    <link
            href="{{ static('favicon-light.png') }}"
            rel="shortcut icon" type="image/png"
            media="(prefers-color-scheme: light)"
    />
    <link
            href="{{ static('favicon-dark.png') }}"
            rel="shortcut icon" type="image/png"
            media="(prefers-color-scheme: dark)"
    />

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> {% block title %}v·coeur{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          crossorigin="anonymous">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Nunito">

    <link rel="stylesheet" href="{{ static('style.css') }}">

</head>

<body class="bg-light">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img alt="v·coeur" src="{{ static('logo.png') }}" height="40px">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                {% if active == 'index' %}
                <a class="nav-link active" aria-current="page" href="{{ url('index') }}">{{ _('Home') }}</a>
                {% else %}
                <a class="nav-link" href="{{ url('index') }}">{{ _('Home') }}</a>
                {% endif %}
            </li>
            <!--            <li class="nav-item">-->
            <!--                {% if active == 'services' %}-->
            <!--                <a class="nav-link active" aria-current="page" href="{{ url('services') }}">{{ _('Services') }}</a>-->
            <!--                {% else %}-->
            <!--                <a class="nav-link" href="{{ url('index') }}">{{ _('Services') }}</a>-->
            <!--                {% endif %}-->
            <!--            </li>-->
            <li class="nav-item">
                {% if active == 'blog' %}
                <a class="nav-link active" aria-current="page" href="{{ url('blog') }}">{{ _('Blog') }}</a>
                {% else %}
                <a class="nav-link" href="{{ url('blog') }}">{{ _('Blog') }}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if active == 'contact' %}
                <a class="nav-link active" aria-current="page" href="{{ url('contact') }}">{{ _('Contact') }}</a>
                {% else %}
                <a class="nav-link" href="{{ url('contact') }}">{{ _('Contact') }}</a>
                {% endif %}
            </li>
            {% if request.LANGUAGE_CODE != 'fr' %}
            <li class="nav-item ms-3">
                <a class="btn btn-outline-secondary lang" href="{{ url('to_french', path_from=request.path) }}"> Français </a>
            </li>
            {% endif %}
            {% if request.LANGUAGE_CODE != 'en' %}
            <li class="nav-item ms-3">
                <a class="btn btn-outline-secondary lang" href="{{ url('to_english', path_from=request.path) }}"> English </a>
            </li>
            {% endif %}

        </ul>
    </header>
</div>


<div class="container">

    {% block content %}{% endblock %}

</div>


<div class="container">
    <footer class="py-3 my-2">
        <hr>
        <p class="text-center text-body-secondary">
            &copy; Alice Voland EI •
            SIREN 934 795 170 •
            <a href="{{ url('legal') }}">Mentions légales</a>
        </p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

</body>

</html>