<!DOCTYPE html>
<html lang="fr">

<head>

    {% if settings.ENVIRONMENT == "PRODUCTION" %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0XNFSYS9C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q0XNFSYS9C');
    </script>

    {% endif %}


    <link
            href="{{ static('favicon-light.png') }}"
            rel="shortcut icon" type="image/png"
            media="(prefers-color-scheme: light)"
    />
    <link
            href="{{ static('favicon-dark.png') }}"
            rel="shortcut icon" type="image/png"
            media="(prefers-color-scheme: dark)"
    />

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{% block description %}{% endblock %}">

    <title>{% block title %}{% endblock %} | vcoeur.com</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Nunito">

    <link rel="stylesheet" href="{{ static('style.css') }}">

</head>

<body class="bg-light">

<div class="container">
    <header class="d-flex flex-wrap justify-content-center pt-3 pb-2">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img alt="v·coeur" src="{{ static('logo.png') }}" height="34px">
        </a>

        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link{% if active == 'index' %} active{% endif %}" aria-current="page" href="{{ url('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active == 'blog' %} active{% endif %}" aria-current="page" href="{{ url('blog') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active == 'services' %} active{% endif %}" aria-current="page" href="{{ url('services') }}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active == 'contact' %} active{% endif %}" aria-current="page" href="{{ url('contact') }}">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
</div>


<main class="container">

    {% block content %}{% endblock %}

</main>

<div class="container">
    <footer class="py-2 my-2">
        <hr>
        <p class="text-center text-body-secondary">
            &copy;&nbsp;Alice&nbsp;Voland&nbsp;EI •
            SIREN&nbsp;934&nbsp;795&nbsp;170 •
            <a href="{{ url('legal') }}">Mentions&nbsp;légales</a>
        </p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

</body>

</html>