{% extends "_base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<h1>Contact</h1>

<div class="home-container">
    <div class="home">


        <h2>Prendre un rendez-vous</h2>

        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget"
             data-url="https://calendly.com/vcoeur/contact?hide_event_type_details=1&hide_gdpr_banner=1"
             style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end -->

    </div>
    </div>

    {% endblock %}