{% extends "_base.html" %}
{% block title %}Accueil{% endblock %}
{% block description %}Alice Voland • Faciliter la mise en oeuvre des projets informatique, méthodologies agiles, prototypage d'applications{% endblock %}
{% block content %}

<h1>Accueil</h1>

<div class="home-container">
    <div class="home">

        <p class="vcoeur-card-header">
            Doctoresse en informatique, je m’adapte rapidement à de nouveaux environnements, technologies ou domaines d’application
        </p>
        <p class="vcoeur-card-header">
            Je mets à profit mes expériences pluridisciplinaires pour faciliter la conception et la mise en œuvre de projets informatiques
        </p>
        <p class="vcoeur-card-header cta">
            Voir <a href="{{ url('services') }}">mes services</a> ou <a href="{{ url('contact') }}">me contacter</a>
        </p>

        <div class="vcoeur-card-title-container">
            <div class="vcoeur-card-title">
                ·•· Alice Voland ·•·
            </div>
        </div>
        <div class="vcoeur-card-right-container">
            <div class="vcoeur-card-right">
                Gestion de projets
            </div>
        </div>
        <div class="vcoeur-card-left-container">
            <div class="vcoeur-card-left">
                Analyse de besoins
            </div>
        </div>
        <div class="vcoeur-card-right-container">
            <div class="vcoeur-card-right">
                Prototypage d'applications
            </div>
        </div>
        <div class="vcoeur-card-left-container">
            <div class="vcoeur-card-left">
                Méthodologies agiles
            </div>
        </div>
        <div class="vcoeur-card-footer-container">
            <div class="vcoeur-card-footer">
                alice@vcoeur.com | <span style="font-size: 1.15rem">+33 6 50 68 16 27</span>
            </div>
        </div>

        <p class="vcoeur-card-header cta">
            <a href="https://www.linkedin.com/in/alice-voland" target="_blank">
                <i class="bi bi-box-arrow-up-right"></i>
                Profil LinkedIn
            </a>&nbsp;&nbsp;
            <a href="{{ static('CV Alice Voland.pdf') }}" target="_blank">
                <i class="bi bi-download"></i>
                CV
            </a>
        </p>

    </div>
</div>

{% endblock %}