{% extends "_base.html" %}
{% block title %} {{ _('Welcome') }} {% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="header1"> Alice Voland </div>
        </div>

        <div class="row my-3">
            <div class="col-3"></div>
            <div class="col-9 header2">
                {{ _("IT project management") }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-9 header2 text-end">
                {{ _("Agile methodologies") }}
            </div>
            <div class="col-3"></div>
        </div>

        <div class="row my-3">
            <div class="header3 text-center">
                alice@vcoeur.com | <span style="font-size: 1.15rem">+33 6 50 68 16 27</span>
            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="row ps-3">

            <div class="col-3">
                <div class="d-flex">
                    <img alt="v·coeur" src="{{ static('profile.png') }}" width="95%">
                </div>
            </div>

            <div class="col-9">
                <div class="row mt-2 ps-3">
                    <a class="header5 mb-2" href="{{ static('CV Alice Voland.pdf') }}" target="_blank">
                        <i class="bi bi-download"></i>
                        {{ _("My resume") }}
                    </a>
                </div>
                <div class="row mt-2 ps-3">
                    <a class="header5" href="https://www.linkedin.com/in/alice-voland" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i>
                        {{ _("LinkedIn profile") }}
                    </a>
                </div>
        
                    </div>
            
        </div>

    </div>
</div>

{% endblock %}