{% extends "_base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}

<h1>Accueil</h1>

<div class="home-container">
    <div class="home">

        <div class="d-flex justify-content-center">
            <img alt="v·coeur" src="{{ static('profile.png') }}" width="25%">
        </div>

        <div class="vcoeur-card-title-container">
            <div class="vcoeur-card-title"> Alice Voland</div>
        </div>
        <div class="vcoeur-card-right-container">
            <div class="vcoeur-card-right">
                Gestion de projets informatiques
            </div>
        </div>
        <div class="vcoeur-card-left-container">
            <div class="vcoeur-card-left">
                Méthodologies agiles
            </div>
        </div>
        <div class="vcoeur-card-footer-container">
            <div class="vcoeur-card-footer">
                alice@vcoeur.com | <span style="font-size: 1.15rem">+33 6 50 68 16 27</span>
            </div>
        </div>
        <div class="vcoeur-card-right-container">
            <div class="vcoeur-card-right">
                <a class="bold" href="{{ static('CV Alice Voland.pdf') }}" target="_blank">
                    <i class="bi bi-download"></i>
                    CV
                </a>
            </div>
        </div>
        <div class="vcoeur-card-left-container">
            <div class="vcoeur-card-left">
                <a class="bold" href="https://www.linkedin.com/in/alice-voland" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i>
                    Profil LinkedIn
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}