{% extends "_base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block description %}Mentions légales du site vcoeur.com{% endblock %}
{% block content %}

<h1> Mentions légales </h1>

<div class="home-container">
    <div class="home">

        <h2> Le site {{ settings.SITE_NAME }} est édité par </h2>

        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Identité de l'entreprise
            </div>
            <div class="col col-6">
                Alice Voland EI
            </div>
        </div>
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                SIREN
            </div>
            <div class="col col-6">
                934 795 170
            </div>
        </div>
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Adresse
            </div>
            <div class="col col-6">
                6 Impasse Boileau - 34920 Le Crès
            </div>
        </div>
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Téléphone
            </div>
            <div class="col col-6">
                +33 6 50 68 16 27
            </div>
        </div>
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Courriel
            </div>
            <div class="col col-6">
                contact@vcoeur.com
            </div>
        </div>
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Directrice de la publication
            </div>
            <div class="col col-6">
                Alice Voland
            </div>
        </div>

        <h2> Le site {{ settings.SITE_NAME }} est hébergé par </h2>

        {% if settings.SITE_HOST_NAME %}
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Identité de l'entreprise
            </div>
            <div class="col col-6">
                {{ settings.SITE_HOST_NAME }}
            </div>
        </div>
        {% endif %}
        {% if settings.SITE_HOST_SIREN %}
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                SIREN
            </div>
            <div class="col col-6">
                {{ settings.SITE_HOST_SIREN }}
            </div>
        </div>
        {% endif %}
        {% if settings.SITE_HOST_ADDRESS %}
        <div class="row">
            <div class="col col-6 text-end fw-bold">
                Adresse
            </div>
            <div class="col col-6">
                {{ settings.SITE_HOST_ADDRESS }}
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
