{% extends "_base.html" %}
{% block title %} Mentions légales {% endblock %}
{% block content %}

<h1> Mentions légales </h1>

<ul>
    <li>
        <strong>Nom commercial</strong> V-Coeur
    </li>
    <li>
        <strong>Identité</strong> Alice Voland EI
    </li>
    <li>
        <strong>SIREN</strong> 934 795 170
    </li>
    <li>
        <strong>Adresse</strong> 6 Impasse Boileau - 34920 - Le Crès
    </li>
    <li>
        <strong>Téléphone</strong> +33 6 50 68 16 27
    </li>
</ul>
<ul>
    <li>
        <strong>Hébergeur</strong> Google Cloud France SARL
    </li>
    <li>
        <strong>SIREN</strong> 881 721 583
    </li>
    <li>
        <strong>Adresse</strong> 8 Rue de Londres - 75009 - Paris
    </li>
</ul>

{% endblock %}
