{% extends "_base.html" %}
{% block title %}Services{% endblock %}
{% block description %}Description des services proposés, de la gestion de projets au prototypage d'applications, et tarifs{% endblock %}
{% block content %}

<h1>Services</h1>

<div class="home-container">
    <div class="home">

        <h2>Gestion de projets</h2>

        <p>
            Je peux suivre votre projet de bout en bout, de la phase de conception à la phase de livraison. Je m'assure que les délais sont respectés et que les ressources sont utilisées de manière optimale. Je contrôle la qualité du produit final et m'assure que les risques sont gérés.
        </p>

        <h2>Analyse de besoins</h2>

        <p>
            La définition des spécifications fonctionnelles est essentielle pour assurer un développement pertinent. Je peux vous aider à identifier les besoins de vos utilisateur·ices en portant un soin particulier à la compréhension du contexte et des spécificités de votre projet.
        </p>

        <h2>Prototypage d'application</h2>

        <p>
            Mon expérience en développement (Java, Python, technologies web) me permet de prototyper rapidement des applications. Je peux ainsi vous aider à valider vos idées avant de concevoir un produit final. Le prototypage permet d'avoir un retour pertinent des utilisateur·ices et de réduire les risques pour la phase de développement.
        </p>

        <h2>Méthodologies agiles</h2>

        <p>
           Ma vision de l'agilité consiste à rapprocher le plus possible l'effort de développement des besoins réels des utilisateur·ices. Au delà des frameworks comme Scrum, il s'agit pour moi de trouver les techniques adaptées à chaque projet ou équipe.
        </p>
        <p>
            Je peux par exemple vous accompagner en tant que Product Owner pour garantir la cohérence entre les besoins des utilisateur·ices et les fonctionnalités développées, en m'assurant toujours que les développeur·euses ont les ressources nécessaires pour avancer.
        </p>

    </div>
</div>

<h1>Tarifs</h1>

<div class="home-container">
    <div class="home">

        <p>
            Mes tarifs dépendent de la mission, de la durée et de la localisation. N'hésitez pas à me contacter pour en discuter. Je vous propose un <a href="{{ url('contact') }}">premier rendez-vous</a> pour échanger sur votre projet.
        </p>

    </div>
</div>

{% endblock %}
