{% extends "_base.html" %}
{% block title %}Services{% endblock %}
{% block description %}Description des services proposés, de la gestion de projets au prototypage d'applications, et tarifs{% endblock %}
{% block content %}

<h1>Services</h1>

<div class="home-container">
    <div class="home">

        <h2>Product owner</h2>

        <p>
            La responsabilité de la product owner est pour moi d'arriver à comprendre l'objectif réel du produit, afin que les efforts des développeur·euses soient toujours valorisés. Je m'assure que les fonctionnalités développées sont celles qui apportent le plus de valeur à l'utilisateur·ice final·e.
        </p>

        <h2>Gestion de projets</h2>

        <p>
            Je peux suivre votre projet de bout en bout, de la phase de conception à la phase de livraison. Je m'assure que les délais sont respectés et que les ressources sont utilisées de manière optimale. Je contrôle la qualité du produit final et m'assure que les risques sont gérés.
        </p>

        <h2>Prototypage d'application</h2>

        <p>
            Mes compétences en développement en Java, Python, et les technologies du web me permettent de prototyper rapidement des applications. Je peux vous aider à valider vos idées et à les transformer en un produit concret.
        </p>

    </div>
</div>

<h1>Tarifs</h1>

<div class="home-container">
    <div class="home">

        <p>
            Mes tarifs dépendent de la mission, de la durée et de la localisation. N'hésitez pas à me contacter pour en discuter. Je vous propose un <a href="{{ url('contact') }}">premier rendez-vous</a> gratuit pour échanger sur votre projet.
        </p>

    </div>
</div>

{% endblock %}
