{% extends "blog/articles/_base.html" %}
{% block title %} Low-cost Django deployment with Google App Engine and Cloud SQL {% endblock %}
{% block article %}

<h1> Low-cost Django deployment with Google App Engine and Cloud SQL </h1>

<p>
    <strong>I was looking for a low-cost solution to deploy a basic Django app on Google.</strong>
</p>
<p>
    The app does not have a lot of traffic, and while I would like to be able to scale, if necessary, my first objective
    is to find a solution as cheap as possible when the app is not used.
</p>
<p>
    My first idea was to use <a href="https://cloud.google.com/run">Google Cloud Run</a>, which is great to deploy a
    docker image very easily. Deploying automatically using
    <a href="https://cloud.google.com/build/docs/deploying-builds/deploy-cloud-run">Google Cloud Build</a> was easy
    to set up, and the billing model, where we pay only for the time we
    use the app is interesting. And with the free tier I expected to have no cost at all, which was the case. However,
    there is a cold start delay anytime we use the app, and if you want your deployment to be always up with at least
    one replica the cost is high (more than 50 € / month).
</p>
<p>
    I then switched to <a href="https://cloud.google.com/appengine">Google App Engine</a> where the free tier is enough
    to have zero cost for a low traffic, low resources app. I dislike not being able to build my own docker image, but
    most web frameworks are well-supported.
</p>
<p>
    In both cases, having a database instance adds some cost.
</p>
<p>
    Keep in mind that this “tutorial” was initially created as a simple note for my own use and might not apply to your
    use case. Moreover, pricing can change and depends on the region, so your experience might differ from mine.
</p>

<h2> 1 - Setup a Google Cloud Project </h2>

<h3> A. Create a Google Cloud Project </h3>

<p>
    The first step is to create a Google Cloud Project if you don’t already have one, and take note of the Project ID:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/projectcreate">console.cloud.google.com/projectcreate</a>
    </li>
</ul>

<h3> B. Create a Service Account </h3>

<p>
    It is a good practice to create specific service accounts for all tasks, instead of relying on default shared
    service accounts. It allows us to define permissions with more granularity.
</p>
<p>
    You can create a service account:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/iam-admin/serviceaccounts/create">
            console.cloud.google.com/iam-admin/serviceaccounts/create
        </a>
    </li>
</ul>
<p>
    The service account will be added on the IAM dashboard:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/iam-admin/iam">
            console.cloud.google.com/iam-admin/iam
        </a>
    </li>
</ul>
<p>
    You can find the service account with the principal
    <code>[service-account-id]@[project-id].iam.gserviceaccount.com</code>. You
    can define permissions atomically, but I might be easier to add common roles including those permissions. Relevant
    roles are:
</p>
<ul>
    <li> Cloud Datastore User (because App Engine will store data in buckets)</li>
    <li> Cloud SQL Client (to access a SQL database)</li>
</ul>

<h3> C. Create a SQL instance </h3>

<p>
    The cheapest database instance I have found on Google Cloud is PostgreSQL. Please note that pricing depends on a lot
    of factors, including available instance size, or regions. The example I use might not be available for you.
</p>
<p>
    You can choose PostgreSQL here:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/sql/choose-instance-engine">
            console.cloud.google.com/sql/choose-instance-engine
        </a>
    </li>
</ul>
<figure>
    <img src="{{ static('blog/articles/low-cost-django-google/SQL Configuration.png') }}">
</figure>

<h3> D. Add database and user </h3>

<p>
    You can select the new SQL instance:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/sql/instances">
            console.cloud.google.com/sql/instances
        </a>
    </li>
</ul>
<p>
    You will be able to add a Database (take note of the name) and a user (take note of the username and password)
</p>

<h3> E. Activate App Engine </h3>

<p>
    You might need to activate App Engine from Google Cloud console:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/appengine">
            console.cloud.google.com/appengine
        </a>
    </li>
</ul>

<h3> F. Install GCloud CLI </h3>

<p>
    You will need the gcloud CLI command, install instructions are here:
</p>
<ul>
    <li>
        <a href="https://cloud.google.com/sdk/docs/install">
            cloud.google.com/sdk/docs/install
        </a>
    </li>
</ul>
<p>
    Useful commands:
</p>
<pre>
$ gcloud auth login
$ gcloud components install google-cloud-cli-app-engine-python
$ gcloud config set project [project-id]
</pre>

<h2> 2 - Create, configure, and deploy a Django app </h2>

<h3> A. Basic Django app </h3>

<p>
    This tutorial does not cover how to create a Django app, you can refer to
    <a href="https://docs.djangoproject.com/en/5.0/intro/tutorial01/">“Writing your first Django
        app”</a> official tutorial if necessary.
</p>
<p>
    We will assume a <em>settings.py</em> file where variables are read from the environment
    (e.g. using the <em>environs</em> package).
</p>

<h3> B. Note on static and media files </h3>

<p>
    Static files (like pictures, css, …) and media files (like user uploads, …) can be managed with various backends.
    This tutorial does not cover how to implement static and media files management, but I have found practical to use:
</p>
<ul>
    <li>
        The <a href="https://django-storages.readthedocs.io/en/latest/backends/gcloud.html">django-storage</a> package
        to use a Google Cloud Storage bucket to store media files.
    </li>
    <li>
        And the <a href="https://pypi.org/project/whitenoise/">whitenoise</a> package to serve static files.
    </li>
</ul>

<h3> C. Database configuration </h3>

<p>
    We will assume a <em>settings.py</em> configuration file containing:
</p>
<pre>
DATABASES = {
    'default': {
        'ENGINE': env.str('DATABASE_ENGINE', 'django.db.backends.sqlite3'),
        'NAME': env.str('DATABASE_NAME', str(BASE_DIR / 'db.sqlite3')),
        'USER': env.str('DATABASE_USER', ''),
        'PASSWORD': env.str('DATABASE_PASSWORD', ''),
        'HOST': env.str('DATABASE_HOST', ''),
        'PORT': env.str('DATABASE_PORT', ''),
        'CONN_MAX_AGE': env.int('DATABASE_CONN_MAX_AGE', 0),
    }
}
</pre>
<p>
    First, to run locally, with an SQLite database, there is nothing to do, default values are fine.
</p>
<p>
    To use the production database, you must set the following variables:
</p>
<ul>
    <li>
        DATABASE_ENGINE: django.db.backends.postgresql
    </li>
    <li>
        DATABASE_HOST: /cloudsql/[project_id]:[instance_region]:[instance_name]
    </li>
    <li>
        DATABASE_PORT: 5432
    </li>
    <li>
        DATABASE_NAME, DATABASE_USER, DATABASE_PASSWORD: See 1 - D. Add database and user
    </li>
</ul>
<p>
    The database host value can also be found in you SQL instances table in the column “Instance connection name”:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/sql/instances">console.cloud.google.com/sql/instances</a>
    </li>
</ul>

<h3> D. Remote database while running locally </h3>

<p>
    It is possible to use the remote database while running the app locally, this can be very practical to run the
    migrations. You will need to download the <em>cloud-sql-proxy</em> tool from Google:
</p>
<ul>
    <li>
        <a href="https://cloud.google.com/python/django/run#connect_sql_locally">
            cloud.google.com/python/django/run#connect_sql_locally
        </a>
    </li>
</ul>
<p>
    You might need to authenticate and/or set the current project:
</p>
<pre>
$ gcloud auth login
$ gcloud config set project [project-id]
</pre>
<p>
    And then you only have to change the DATABASE_HOST configuration variable to <em>127.0.0.1</em> while
    <em>cloud-sql-proxy</em> is running.
</p>

<h3> E. The app.yaml deployment configuration </h3>

<p>
    The app.yaml file define the deployment, including the class of the runner, and the configuration of the app.
</p>

<pre>
runtime: python312 # Python 3.12

instance_class: F1 # F1 is smaller class, 384 MG / 600 MHz
automatic_scaling:
  min_instances: 1
  max_instances: 1

entrypoint: gunicorn your-app.wsgi -b 0.0.0.0:8080 --preload --worker-class gthread --workers 2 --threads 2

env_variables:
  SECRET_KEY: # ...
  ALLOWED_HOSTS: '[project-id].oa.r.appspot.com'
  CSRF_TRUSTED_ORIGINS: 'https://[project-id].oa.r.appspot.com'

  DATABASE_ENGINE: django.db.backends.postgresql
  DATABASE_HOST: /cloudsql/[project_id]:[instance_region]:[instance_name]
  DATABASE_PORT: 5432
  DATABASE_NAME: # ...
  DATABASE_USER: # ...
  DATABASE_PASSWORD: # ...

# To serve static files (adapt to your settings.py)
handlers:
- url: /static
  static_dir: static/
- url: /.*
  script: auto
</pre>
<p>
    You are now ready to deploy the app:
</p>
<pre>
$ gcloud app deploy
</pre>

<h3> F. Additional notes </h3>

<p>
    It is possible to deploy multiple <em>services</em> in App Engine, you just need to add a service entry in the
    <em>app.yaml</em> file.
</p>
<p>
    It is also possible to use custom domain names:
</p>
<ul>
    <li>
        <a href="https://console.cloud.google.com/appengine/settings/domain">
            console.cloud.google.com/appengine/settings/domain
        </a>
    </li>
</ul>
<p>
    You can then control the dispatching using a <em>dispatch.yaml</em> file:
</p>
<ul>
    <li>
        <a href="https://cloud.google.com/appengine/docs/standard/reference/dispatch-yaml?tab=python">
            cloud.google.com/appengine/docs/standard/reference/dispatch-yaml?tab=python
        </a>
    </li>
</ul>

{% endblock %}
